/* .profile-button {
  position: relative;
  display: inline-block;
}

.profile-button__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-card {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid gray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1;
}

.profile-card__name {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 5px;
}

.profile-card__info {
  margin-top: 0;
}

.profile-card__logout {
  display: block;
  margin-top: 10px;
} */

.profile {
  position: relative;
  display: inline-block;
}

.profile-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.profile-button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-card {
  top: 60px;
  right: 0;
  width: 200px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
}

.profile-card.active {
  display: block;
}

.profile-card-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.profile-card-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-card-header-info h3 {
  margin: 0;
  font-size: 18px;
}

.profile-card-header-info p {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.profile-card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-card-body li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.profile-card-body li:last-child {
  border-bottom: none;
}

.profile-card-body li a {
  text-decoration: none;
  color: #333;
}
